.mainArticle{
    max-width: 60ch;
}

article{
    font-size: 1.6rem;
    text-align: justify;
}
.titleAndDate{
    margin: 10px 0;
    text-align: center;
    background-color: pink;
    display: flex;
    justify-content: space-between;
}
.articleTitle , .titleAndDate>p{
    font-size: 1rem;
}

.ornamentLetter{
    float: left;
    height: 5.4rem;
    margin-right: 0.3rem;
}
.articleIMG{
    display: block;
    max-width: 100%;
    font-style: oblique;
    text-align: center;
    margin: 1rem auto;
}
