.headerLink {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  max-height: 90%;
  padding-top: 10px;
  max-width: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.horseAndlLeaves {
  height: 100%;
  aspect-ratio: 1/1;
  display: grid;
  grid-template: 1fr 70% 1fr / 1fr 70% 1fr;
  * {
    grid-area: 2/2/3/3;
    justify-self: center;
    max-height: 100%;
  }
}
.l1 {
  transform: rotateY(180deg);
  z-index: -1;
}
/* @media (max-width: calc(60px + 50rem)) {
  .horseAndlLeaves {
    opacity: 0.5;
  }
} */
@media (min-width: 100rem) {
  .headerLink {
    justify-content: space-around;
  }
}

@media (max-width: calc(50rem + 60px)) {
  .logo {
    max-height: 95%;

    padding-top: 0;
  }
}

/* .logo {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-height: 80%;
  max-width: 50%;
}
.leaves {
  position: absolute;
  max-height: 55%;
  max-width: 50%;
  top: 50%;
}
.l1 {
  right: 6%;
  transform: translate(0, -50%);
}
.l2 {
  left: 6%;

  transform: translate(0, -50%) rotateY(180deg);
}
.raiderN {
  position: absolute;
  left: 10%;
  transform: translate(0, -50%);
  top: 50%;

  max-height: 65%;
}
.raiderS {
  position: absolute;
  right: 10%;
  transform: translate(0, -50%);
  top: 50%;

  max-height: 65%;
}
.letter {
  height: 100%;
}
.letterContein {
  height: 100%;
}
@media (max-width: calc(60px + 50rem)) {
  .raiderN,
  .raiderS,
  .leaves {
    opacity: 0.6;
  }
} */
