.logo {
  position: absolute;
  width: 50%;
  max-width: 460px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.leaves {
  position: absolute;
  width: 30%;
}
.l1 {
  left: 70%;
  top: 65%;
  transform: translate(0, -50%);
}
.l2 {
  left: 1%;
  top: 65%;
  transform: translate(0, -50%) rotateY(180deg);
}
.raiderN {
  position: absolute;
  left: 8%;
  top: 30%;
  width: 15%;
}
.raiderS {
  position: absolute;
  left: 77.5%;
  top: 28%;
  width: 15%;
}
.letter {
  height: 100%;
}
.letterContein {
  height: 100%;
}
@media (max-width: 40rem) {
  .raiderN,
  .raiderS {
    top: 60px;
  }
}
