nav {
  display: grid;
  flex-direction: column;
  grid-template:
    calc(var(--font-S) * 3.5) 1fr calc(var(--font-S) * 3.5)
    / 1fr;
}
.swordIcon {
  width: 30px;
  transition: all 1s ease;
}
.swordITop.closeNav {
  transform: translate(-0%, 100%) rotate(-45deg);
}
.swordIMid {
  transform: rotate(180deg);
}
.swordIMid.closeNav {
  transform: translate(50%, 0) rotate(90deg);
  opacity: 0;
}
.swordIBot.closeNav {
  transform: translate(-0%, -100%) rotate(45deg);
}
.circle.closeNav {
  transform: rotate(-90deg);
}
.websiteNav {
  grid-area: 2/1;
  width: calc(100% + 2ch + 5px);
  overflow-y: auto;
}
.navElement {
  border-radius: 1.3rem;
  padding-left: 1ch;
}
.visableSectionButton {
  font-size: var(--font-S);
  width: 100%;
  color: #73383e;
}
.navLink {
  display: block;
  color: #303030;
  font-size: var(--font-S);
  width: 100%;
  padding-left: calc(0.5em + 25px);
}
.dot {
  width: 25px;
  height: 31px;
  margin-right: 0.5em;
}
.navSectionBreak {
  width: 100%;
}
.search {
  display: grid;
  grid-template:
    calc(var(--font-S) - 1rem) calc(var(--font-S) + 0.4rem)
    0 / 0 auto 1fr 0;
  gap: calc(var(--font-S) - 0.5rem) 1ch;
}
.search > input {
  width: 100%;
  background-color: rgba(255, 235, 205, 0);
  background-image: linear-gradient(160deg, #8377574a 2%, transparent 30%);
  grid-area: 2 / 3 / 3 / 4;
}
.search > a {
  display: inline-block;
  height: 100%;
  grid-area: 2 / 2 / 2 /2;
}
.search > img {
  width: 100%;
  grid-area: 3 / 1 / 4 / 5;
}
.socialLinks {
  display: grid;
  grid-template:
    calc(var(--font-S)) calc(var(--font-S) * 2.5)
    / 1fr 1fr;
  gap: 0 1ch;
  & > .navSectionBreak {
    grid-area: 1 / 1 / 2 / 3;
  }
  & > a {
    justify-self: end;
    > img {
      height: calc(var(--font-S) * 2.5);
      width: calc(var(--font-S) * 2.5);
    }
  }
  & > a:last-child {
    justify-self: start;
  }
}
