.swordIcon{
    width: 40px;
    opacity: 1;
    transition: opacity , transform 1s ease;
}
.swordITop.closeNav{
    transform: translate(-0% , 100%)  rotate(-45deg);
}
.swordIMid{
    transform: rotate(180deg);
}
.swordIMid.closeNav{
    transform: translate(50% , 0) rotate(90deg);
}
.swordIBot.closeNav{
    transform: translate(-0% , -100%) rotate(45deg) ;
}
.websiteNav{
    margin-top: 5px;
    height: calc(100% - 10px);
    width: calc(100% + 4px);
    overflow-y: auto;   
    scrollbar-gutter: stable;
}
.navElement{
    border-left: 1ch solid ;    
    border-radius: 1.3rem ;
    padding-left: 1ch;
}
.navElementBlueBorder{
    border-color: rgb(81, 106, 138);
}
.navElementRedBorder{
    border-color: rgb(202 , 97, 76);
}
.visableSectionButton{
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    width: 100%;
    color: rgb(81, 106, 138)
}
.navLink{
    display: block;
    color: rgb(202 , 97, 76);
    font-size: 1.6rem;
    width: 100%;
}
.arrow{
    height: 1rem;
    margin-right: 2px;
}
.search{
    margin-bottom: 0.5rem;
}
.search>input{
    height: 2rem;
    width: 50%;
    padding: 0.1rem;
    background-color: rgba(255, 235, 205, 0.452);
}
.search>a{
    display: inline-block;
    font-size: 1rem;
    background-color: pink;
}