#root{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 6vh;
    display: grid; 
    grid-template-columns: 1fr 20em 25em 25em 1fr; 
    grid-template-rows: 200px auto ; 
    gap: 0 2.5em;
    background-image: url('../../../public/multimedia/tlo-tyl1-czarne.png');
    background-attachment: fixed;
}
.showAndHideNavButton , .letterContein{
    display: none;
}
header{
    grid-area: 1 / 2 / 2 / 5 ; 
    position: relative;
} 
nav{
    position: sticky;
    grid-area: 2 / 2 / 3 / 3;
    position: -webkit-sticky;
    top:5vh;
    height: 90vh;
}
main{
    grid-area: 2 / 3 / 3 / 5;   
}
@media (max-width: 90rem){
    #root{
        grid-template: 200px auto / 1fr repeat(3 , 15rem) 1fr; ; 
    }
}

@media (max-width: calc(50rem + 60px)){
    #root{
        grid-template: 150px auto / 1fr 10rem 10rem 10rem 1fr; ; 
        min-width: min-content;
        position: relative;
    }
    nav{
        height: calc(100vh - 6rem);
        width: 350px;
        top: 5rem;
        position: fixed;
        padding-left: 40px;
        left: -500px;
        z-index: 2;
        transition: transform 1s ease;
    }
    .hiddenNav{
        transform: translate(500px);
    }
    main {
        grid-area: 2 / 2 / 3 / 5;
    }
    header{
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 5rem;
        background-color: #ffd770;
        background-size:100vw 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 19%;
    }  
    .letterContein{
        display: block;
    }
    .showAndHideNavButton{
    display: block;
    position: absolute;
    width: 100vw;
    height: 90px;
    border-radius: 50%;
    z-index: 5;
    display: block;
    height: 5rem;
    top: -5rem;
    left: 500px;
    font-size: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 15vw;
    transition: transform 1s ease;
    }
    .showAndHideNavButton.closeNav{
        transform: translate(-500px);
    }
}
@media (max-width: 40em) {
    #root{
        grid-template: 150px auto / 1fr 90% 1fr; 
        gap: 0;
    }
    main {
        grid-area: 2 / 2 / 3 / 3
    }
  }





