/* ::-webkit-scrollbar {
    width: 1ch;
    height: 1ch;
 }

::-webkit-scrollbar-thumb {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    border-radius: 5px;
    padding-top: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
::-webkit-scrollbar-track {
    background-image: none;
   background-color: rgba(255, 235, 205, 0.685);
   border-radius: 10px;
}



@media (min-width: 40rem){
::-webkit-scrollbar {
    width: 17px;
    height: 15px;
 }
.websiteNav::-webkit-scrollbar {
    height: 0;
}
::-webkit-scrollbar-track {
    background-image: url('../../../public/multimedia/scroll&border/scrollBackground.png');
    background-repeat: repeat , no-repeat;
    background-position: center;
}
::-webkit-scrollbar-track:horizontal {
    background-image: url('../../../public/multimedia/scroll&border/scrollBackgroundHorizontal.png');
}
::-webkit-scrollbar-button {
    height: 21px;
    border-radius: 5px;
}
::-webkit-scrollbar-button:vertical:end:increment {
    background-image:  url('../../../public/multimedia/scroll&border/scrollButtoDown.png') , radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%) ;
}
::-webkit-scrollbar-button:vertical:start:decrement {
background-image:  url('../../../public/multimedia/scroll&border/scrollButtonUp.png')  , radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%) ;
} 
::-webkit-scrollbar-button:horizontal:end:increment {
background-image: url('../../../public/multimedia/scroll&border/scrollButtonRight.png'), radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%) ;   
}
::-webkit-scrollbar-button:horizontal:start:decrement {
    background-image: url('../../../public/multimedia/scroll&border/scrollButtonLeft.png'), radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%) ;  
} 
@supports (scrollbar-color: white black) {
    *{
        scrollbar-color:  #9f7928 #d1b46473;        
        scrollbar-width: normal;
    }
}
} */

::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#root {
  overflow: scroll;
  & > .myCustomScroll {
    overflow: hidden;
    grid-area: 1/4/3/5;
    position: sticky;
    position: -webkit-sticky;
    flex-direction: column;
    width: 50px;
    justify-self: end;
    align-items: center;
    left: 0;
    top: 0;
    & > .scrollTumb {
      top: 25rem;
      height: calc(100% - 25rem);
      position: relative;
      & > div {
        top: calc(var(--font-S) * 1.7 / 2 * -1);
        position: absolute;
        width: max-content;
        right: 0;
        height: max-content;
        & > img {
          height: calc(var(--font-S) * 1.7);
        }
      }
    }
    * {
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }
}
#websiteNav {
  display: grid;
  & > #websieNavUl {
    grid-area: 1/1;
  }
  & > .myCustomScroll {
    grid-area: 1/1;
    position: sticky;
    position: -webkit-sticky;
    width: 1ch;
    justify-self: end;
    align-items: center;
    padding: 50px 0;
    top: 0;
    left: 0;
    & > .scrollTumb {
      position: relative;
      height: 100%;
      & > div {
        top: calc(var(--font-S) * 1.7 / 2 * -1);
        position: absolute;
        width: max-content;
        right: 0;
        height: max-content;
        & > img {
          height: calc(var(--font-S) * 1.7);
        }
      }
    }
    * {
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }
}
