::-webkit-scrollbar {
    width: 1ch;
    height: 1ch;
 }

::-webkit-scrollbar-thumb {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    border-radius: 5px;
    padding-top: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
::-webkit-scrollbar-track {
    background-image: none;
   background-color: rgba(255, 235, 205, 0.685);
   border-radius: 10px;
}



@media (min-width: 40rem){
::-webkit-scrollbar {
    width: 17px;
    height: 15px;
 }
.websiteNav::-webkit-scrollbar {
    height: 0;
}
::-webkit-scrollbar-track {
    background-image: url('../../../public/multimedia/scroll&border/scrollBackground.png');
    background-repeat: repeat , no-repeat;
    background-position: center;
}
::-webkit-scrollbar-track:horizontal {
    background-image: url('../../../public/multimedia/scroll&border/scrollBackgroundHorizontal.png');
}
::-webkit-scrollbar-button {
    height: 21px;
    border-radius: 5px;
}
::-webkit-scrollbar-button:vertical:end:increment {
    background-image:  url('../../../public/multimedia/scroll&border/scrollButtoDown.png') , radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%) ;
}
::-webkit-scrollbar-button:vertical:start:decrement {
background-image:  url('../../../public/multimedia/scroll&border/scrollButtonUp.png')  , radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%) ;
} 
::-webkit-scrollbar-button:horizontal:end:increment {
background-image: url('../../../public/multimedia/scroll&border/scrollButtonRight.png'), radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%) ;   
}
::-webkit-scrollbar-button:horizontal:start:decrement {
    background-image: url('../../../public/multimedia/scroll&border/scrollButtonLeft.png'), radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%) ;  
} 
@supports (scrollbar-color: white black) {
    *{
        scrollbar-color:  #9f7928 #d1b46473;        
        scrollbar-width: normal;
    }
}
}